{% extends 'base_generic.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Forex Tools </h1>
          <p class="lead">Maximize your Trading</p>
          <ul class="list-unstyled">
            <li>Made by Professional Programmer</li>
              <li>เริ่มต้นที่ 950 บาทเท่านั้น</li>
          </ul>
        </div>  
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">MOBOT Grid Partner</h1>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <p class="text-cener">
                 
             <label class="form-check-label" for="exampleRadios1">
              โมบอท ขอเสนอ โมบอท กริด พาร์ทเนอร์ เครื่องมือเทรดคู่ใจสำหรับเทรดเดอร์สายกริด
              เหมาะสำหรับทั้งผู้เริ่มต้นเทรดจนถึงผู้ที่เทรดเป็นอาชีพ ด้วยฟีเจอร์ที่ครบครัน สร้างแนวกริดแค่สองคลิ๊กจากกราฟ พร้อมเครื่องมือคำนวนต้นทุนและขนาดเทรด pip value รวมถึงกำไรขาดทุนสถานะการเทรด ทั้งหมดนี้เพียง 950 บาทเท่านั้น
              <ul>
                <li>เปิดออเดอร์อัตโนมัติเมื่อราคาตัดผ่านกริด หรือส่งคำสั่งเองได้ทันใจ ผ่านคีย์บอร์ด</li>
                <li>ควบคุมทั้งการเทรดได้ทันใจด้วยคีย์ลัด</li>
                <li>แจ้งเตือนราคาเปลี่ยนทิศทางเพื่อปิดการเทรดทั้งหมด</li>
                <li>ปิดออเดอร์ทั้งด้าน Buy และ Sell ได้ด้วยคลิ๊กเดียว</li>
              </ul>
            </label>
          </p>
        </br>
          <input class="form-control" type="text" placeholder="หรือระบุความต้องการของคุณได้ที่นี่">
          </form>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>


{% endblock %}